* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #545454;
}
.hero{
    margin-top:50px;
}

.isi{
    font-size: 0.5rem;
}
@media only screen and (min-width: 768px) {
    ul{
        font-size: 1.5rem;
    }
    .brand{
        font-size: 1.5rem;
    }
    .isi {
        font-size: 1.2rem;
    }
    p{
        font-size: 2rem;
        font-weight: bold;
    }
    .btn{
        width: 10rem;
        height: 2rem;
    }
    span{
        font-size: 1.5rem;
        font-weight:bolder;
        color: cadetblue;
    }
}