*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-fluid {
    background-color: #0000ff;
    color: white;
    margin-bottom: 100px;
    position: fixed;
}

.container {
    justify-content: space-between;
    padding-bottom: 50px;
    margin-top: 300px;
    background-color: #e2edff;
}

.foto {
    padding-left: 300px;
}

.info {
    margin-right: 220px;
    margin-top: 60px;
}

.card{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.aboutme {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.aboutme p {
    margin-top: 1cm;
    font-style: italic;
}

footer {
    color: white;
    bottom: 0;
    width: 100%;
}


