*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-fluid {
    background-color: #0000ff;
    color: white;
    margin-bottom: 100px;
}

.Ulasan {
    margin-top: 100px;
}

