.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
    background-color: #e2edff;
    height: 80vh;
    position: relative; 
    margin-bottom: 2.5cm;
}

.about{
    text-align: center;
    margin-bottom: 3cm;
    padding-top: 0px;
}

.about p {
    margin: 0px;
    justify-content: left;
}

.about h2 {
    margin-bottom: 1cm;
}
